<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .maincarousel{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid gx-0">
      <div class="row gx-0">
        <div class="col-12 ">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/download.png?v=1665992119"
                  class="d-block w-100 img-fluid"
                  alt=""
                />
              </div>
              <div class="carousel-item">
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/download.png?v=1665992119" class="d-block w-100" alt="" />
              </div>
              <div class="carousel-item">
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/download.png?v=1665992119" class="d-block w-100" alt="" />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
            <i class="fa-solid fa-angle-left" style="color: red; font-size: 32px;"   aria-hidden="true"></i>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >  
              <i class="fa-solid fa-angle-right" style="color: red; font-size: 32px;"   aria-hidden="true"></i>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
