<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-12 py-5">
                <h3 class="fw-bold display-6">Top products</h3>
            </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0555/9009/3103/files/ezgif.com-gif-maker_2.png?v=1665993888" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
        </div>
    </div>
</body>
</html>